In [1]:
import pandas as pd
from itertools import combinations

# Create the data of the companies

In [2]:
data = {'company_codes':['A','B','C','D','E'],
        'population':[3,4,2,3,1]
       }
df = pd.DataFrame(data)
df

  company_codes  population
0             A           3
1             B           4
2             C           2
3             D           3
4             E           1

# Calculation of standard deviation

In [4]:
def standard_deviation(values: list):
    mean = sum(values)/len(values)
    square_variance = [(element - mean)**2 for element in values]
    variance = sum(square_variance)/len(square_variance)
    sd = variance**0.5
    return sd

# Create combinations of 3 companies

In [6]:
n_taken_at_a_time = 3
combination_of_companies = combinations(df.company_codes,n_taken_at_a_time)
combination_of_companies = list(combination_of_companies)
combination_of_companies

[('A', 'B', 'C'),
 ('A', 'B', 'D'),
 ('A', 'B', 'E'),
 ('A', 'C', 'D'),
 ('A', 'C', 'E'),
 ('A', 'D', 'E'),
 ('B', 'C', 'D'),
 ('B', 'C', 'E'),
 ('B', 'D', 'E'),
 ('C', 'D', 'E')]

# Add the populations sum of the combinations

In [7]:
population_sums = []
for combination in combination_of_companies:
    populations = []
    for company in combination:
        populations.append(df[df.company_codes==company].population.values[0])
    population_sums.append(sum(populations))
population_sums

[9, 10, 8, 8, 6, 7, 9, 7, 8, 6]

# Create a new dataframe with company combinations and population sums

In [8]:
data_comb = {'company_combinations':[''.join(combination) for combination in combination_of_companies]
             ,'population_sums': population_sums
            }
df_comb = pd.DataFrame(data_comb)
df_comb

  company_combinations  population_sums
0                  ABC                9
1                  ABD               10
2                  ABE                8
3                  ACD                8
4                  ACE                6
5                  ADE                7
6                  BCD                9
7                  BCE                7
8                  BDE                8
9                  CDE                6

# Mean of population

In [3]:
mean = sum(df.population)/len(df)
mean

2.6

# Standard deviation of population

In [5]:
standard_deviation(df.population.to_list())

1.019803902718557

# Mean for each sample

In [9]:
df_comb['sample_mean'] = df_comb['population_sums']/n_taken_at_a_time
df_comb

  company_combinations  population_sums  sample_mean
0                  ABC                9     3.000000
1                  ABD               10     3.333333
2                  ABE                8     2.666667
3                  ACD                8     2.666667
4                  ACE                6     2.000000
5                  ADE                7     2.333333
6                  BCD                9     3.000000
7                  BCE                7     2.333333
8                  BDE                8     2.666667
9                  CDE                6     2.000000

# Mean of sample means

In [10]:
sum(df_comb.sample_mean)/len(df_comb)

2.6

# Standard deviation of sample means

In [13]:
standard_deviation(df_comb.sample_mean.to_list())

0.41633319989322654